appdirs==1.4.4
async-generator==1.10
attrs==20.3.0
bleach==3.3.0
defusedxml==0.6.0
entrypoints==0.3
ipython-genutils==0.2.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
MarkupSafe==1.1.1
mistune==0.8.4
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook-as-pdf==0.4.0
packaging==20.9
pandocfilters==1.4.3
pip==21.0.1
pyee==8.1.0
Pygments==2.8.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyppeteer==0.2.5
pyrsistent==0.17.3
python-dateutil==2.8.1
pywin32==300
pyzmq==22.0.3
setuptools==49.2.1
six==1.15.0
testpath==0.4.4
tornado==6.1
tqdm==4.57.0
traitlets==5.0.5
urllib3==1.26.3
webencodings==0.5.1
websockets==8.1
